[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
requests = "==2.18.4"
Flask = "==1.0"
bokeh = "==0.12.14"
pandas = "==0.20.3"
flask-cors = "==3.0.3"
quandl = "==3.3.0"

[dev-packages]

[requires]
python_version = "2.7"
